body{
    margin:0;
    background:#1b1b1b;
    color:white;
    font-family:Arial, sans-serif;
}

.game{
    width:600px;
    margin:30px auto;
    background:#2d2d2d;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 20px black;
}

h1{
    text-align:center;
    color:gold;
}

.status{
    background:#444;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
}

.buttons{
    text-align:center;
}

button{
    width:120px;
    height:45px;
    margin:8px;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    background:#4CAF50;
    color:white;
    transition:.2s;
}

button:hover{
    background:#45a049;
    transform:scale(1.05);
}

.log{
    margin-top:20px;
    background:#111;
    padding:15px;
    border-radius:10px;
    height:200px;
    overflow:hidden;
}
.bar{
    width:100%;
    height:20px;
    background:#666;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:15px;
}

.hpBar{
    width:100%;
    height:100%;
    background:#ff3b30;
    transition:.3s;
}

.expBar{
    width:0%;
    height:100%;
    background:#00bfff;
    transition:.3s;
}
.battle{
    margin-top:20px;
    background:#3a2b2b;
    padding:15px;
    border-radius:10px;
    border:2px solid #aa4444;
}
.mpBar{
    width:100%;
    height:100%;
    background:#3b82f6;
    transition:.3s;
}
#equipmentScreen {
    display: none;
}

.equipmentItem {
    border: 1px solid #555;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.equipmentColumns {
    display: flex;
    gap: 80px;
}

.equipmentColumns > div {
    width: 200px;
}
#log{
    height:170px;
    overflow-y:auto;
}
.status p {
    display: block;
    margin: 8px 0;
}
.statusRow{
    display: grid;
    grid-template-columns: 120px 70px 40px;
    align-items: center;
    margin: 10px 0;
}

.statusRow button{
    width: 35px;
    height: 30px;
    padding: 0;
}
.menuButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menuButtons button{
    box-sizing: border-box;
}
